* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Hind, sans-serif;
}

.container {
    width: 90%;
}

.hide-on-small-only {
    display: none;
}

.show-on-small {
    display: block;
}

#menu li {
    display: block;
    margin-left: 0;
}

#topHeader {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#navbar {
    position: fixed;
    display: none;
}

#navbar-content {
    width: 100%;
}

#header-main {
    text-align: center;
    display: block;
}

#title-home {
    top: 48%;
    font-size: 2em;
}

.itemToAlign {
    width: 100%;
}

#contact-header {
    position: absolute;
    right: 1em;
    top: 2em;
}

.before-footer {
    padding-bottom: 10em !important;
}

