* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Hind, sans-serif;
    font-size: 16px;
    min-height: 100%;
    position: relative;
}

.show-on-small {
    display: none;
}

.container {
    display: block;
    margin: auto;
    width: 65%;
}

#content-service {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/sfondo_foresta.jpg');
}

.before-footer {
    padding-bottom: 15em !important;
}

.imgFull {
    height: 85vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/rifugio2.jpg');
    position: relative;
}

.visible {
    display: block !important;
}

.hideText {
    position: absolute;
    text-indent: -9999em;
}

.bold {
    font-weight: bold;
}

.show-on-print-only {
    display: none;
}

/**************** header bar logo/contatti *********/
#topHeader {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
}

#header-main {
    padding: 0.5em 0;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#logo {
    height: 5em;
}

#contact-header {
    margin: auto;
    margin-right: 0;
    align-self: center;
}

.firstContactItem {
    margin-right: 1.5em;
}

#contact-header p {
    color: white;
}

#contact-header .material-icons {
    padding-right: 0.1em;
    color: #ffffff;
}

#contact-header .fas {
    padding-right: 0.1em;
    color: #ffffff;
}

/****************** menu ******************************/

#navbar {
    position: static;
    width: 100%;
    z-index: 10;
    top: 0;
}

#navbar-content {
    background-color: #ffffff;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.7);
    border-left: 0.1em solid #ffffff;
    border-right: 0.1em solid #ffffff;
}

#menu {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

#menu li {
    display: inline-block;
    margin-left: 3em;
    list-style: none;
}

#menu li:first-child {
    margin-left: 0;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 1em 0.5em 1em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

/* mouse over link */
#menu li a:hover {
    color: #00cc00;
    font-weight: bold;
}

/* selected link */
#menu li a:active {
    color: #008000;
}

.active a {
    cursor: default;
    pointer-events: none;
    font-weight: bold;
    text-decoration: underline #00cc00 !important;
}

.active a:hover {
    color: #000000 !important;
}

/******************* generic *************************/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vertical-align-block {
    display: inline-block;
    vertical-align: middle;
}

.itemToAlign {
    width: 35%;
    margin: auto;
    margin-right: 0;
    align-self: center;
}

.circle {
    display: inline-block;
    text-align: center;
    width: 12em;
    height: 12em;
    color: black;
    border-radius: 6em;
    border: 0.2em solid #00cc00;
    margin: auto;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.circle-text {
    margin-top: 3em;
    font-size: 1.3em;
}

.paragraph {
    font-size: 1.8em;
    border-left: 0.2em solid #00cc00;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

.main-padding {
    padding-top: 5em;
    padding-bottom: 5em;
}

.flexible {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.btn {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff;
    border: 0.12em solid #00cc00;
    border-radius: 10em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    font-size: 1.1em;
    color: #00cc00;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn:hover {
    background-color: #00cc00;
    color: #ffffff;
    -webkit-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn:active {
    background-color: #008000;
    border-color: #008000;
    color: #ffffff;
}

.btn-square {
    border-radius: 0;
}

.btn-red {
    border-color: #b10000;
    color: #b10000;
}

.btn-red:hover {
    background-color: #b10000;
}

.btn-red:active {
    background-color: #A40000;
    border-color: #A40000;
}

.btn-submit {
    margin-top: 1.2em;
}

.input-block {
    display: inline-block;
    width: 45%;
    margin-top: 1em;
}

/******************* home *************************/

#title-home {
    position: absolute;
    top: 50%;
    width: inherit;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.94);
    font-size: 3em;
    border: 0.01em solid #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
}

#metri {
    color: #00cc00;
}

#apertura {
    text-align: center;
    background-image: url('../images/sfondo_texture.jpg');
    background-repeat: repeat;
}

#apertura h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}

#apertura h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: normal;
    word-spacing: 0.5em;
}

.descrizione {
    font-size: 1.1em;
    line-height: 1.5em;
}

.description-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0;
    align-self: center;
    width: 60%;
}

.img-description {
    width: 100%;
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

#servizi {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.hr-block {
    width: 100%;
    margin: auto;
    display: block;
}

.hr-line {
    width: 20%;
    margin: 1em;
    border-bottom: 0.1em solid #000;
    display: inline-block;
}

.hr-icon {
    top: 0.2em;
    color: #00cc00;
    display: inline-block;
}

.service-number {
    font-weight: bold;
}

#circle-bottom {
    background-color: #476223;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 96%;
    left: 80%;
    text-align: center;
}

#circle-bottom a {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

#circle-bottom span {
    color: #ffffff;
    margin-top: 0.5em;
}

#circle-bottom :hover {
    -webkit-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -o-box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

#circle-bottom a :hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/*************** login **********************/

#content-login {
    margin-top: 5em;
}

#content-login form {
    margin-top: 1em;
}

#login-label {
    margin-bottom: 1em;
    font-size: 2em;
    letter-spacing: 0.1em;
}


/*************** gestione admin **********************/

#lista-admin {
    list-style: none;
}

#lista-admin li {
    margin-bottom: 1.5em;
}

#lista-admin li:last-child {
    margin-bottom: 0;
}

.content-half {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

/*************** footer **********************/
#footer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #4c4c4c;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#footer img {
    display: inline-block;
    max-width: 15%;
    height: auto;
}

#footer-text {
    display: inline-block;
    width: 70%;
}

#footer em {
    color: #ffffff;
}

#linkAdmin {
    display: block;
    color: #ffffff;
}


/****************** itinerari **************/
.itinerari {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.pointList {
    list-style-type: unset;
}

.itinerari dt {
    margin-bottom: 1em;
}

.itinerari dd {
    padding: 1.5em;
}

.itinerari img {
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    width: 40%;
}

.itinerari li {
    margin-left: 4em;
}

.descrizioneitinerari {
    font-size: 1.1em;
    line-height: 2em;
}

.descrizioneitinerari span {
    margin-right: 0.5em;
    color: #00cc00;
    width: 1em;
}

.lineeitinerari {
    border: 0;
    border-top: 1px solid #c0c0c0;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/****** dove siamo ******/
.top-img {
    margin-top: 2em;
    width: 80%;
    margin-bottom: 2em;
}

.titoli {
    margin-top: 1em;
}

.margin2 {
    margin-top: 2em;
}

.margin2-bottom {
    margin-bottom: 2em;
}


/******** eventi*******/
.evento {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 1px 3px 6px 4px #c0c0c0;
}

.evento ul {
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.evento:hover {
    box-shadow: 2px 6px 12px 8px #c0c0c0;
}

.itemToAligneventi {
    width: 20%;
    margin: auto;
    align-self: center;
    text-align: center;
}

.itemToAligneventi img {
    max-width: 100%;
    max-height: 10em;
    box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

.date {
    color: #476223;
    font-weight: 700;
    font-size: 6em;
    font-family: "Montserrat", serif;
    display: block;
    line-height: 1em;
}

.month {
    color: #FFF;
    background-color: #476223;
    font-size: 1.25em;
    font-family: "Montserrat", serif;
    display: inline-block;
    padding: 0 10px;
}

.eventi-text {
    margin: auto;
    width: 45%;
}

.eventi-text .titoloevento {
    font-size: 1.4em;
    line-height: 2.5em;
    font-weight: bold;
}

.eventi-text p {
    font-size: 1.1em;
    line-height: 1.5em;
}


/******** freccia per tornare su *******/
.to-top {
    font-size: 180%;
    margin-top: 5em;
    color: black;
    padding-top: 1.8em;
    display: block; /* or block */
    position: relative;
    border-color: black;
    text-decoration: none;
    transition: all .3s ease-out;
    text-align: center;
}

.to-top:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em black;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in;
    text-align: center;
}

.to-top:hover {
    color: #00cc00;
    border-color: #00cc00;
}

.to-top:hover:before {
    transform: rotate(360deg);
}


/******** prenota *******/
.form .text-input, .form .textarea, .form .select, .form .button {
    padding: 1em 1em;
    outline: none;
    line-height: normal;
    border-radius: 0;
    border: none;
    background: none;
    display: block;
}

.form .label {
    font-weight: bold;
    color: black;
    padding-top: 0;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 1.25em;
    line-height: 2.5;
    position: relative;
}

.required .form .label:after, .form .required .label:after {
    content: " *";
    color: #E8474C;
    font-weight: normal;
    font-size: 1em;
    vertical-align: top;
}

.form .text-input, .form .textarea, .form .select {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    color: black;
    position: relative;
}

.form:not(.has-magic-focus) .text-input:active, .form:not(.has-magic-focus) .textarea:active, .form:not(.has-magic-focus) .select:active, .form:not(.has-magic-focus) .customSelect:active, .form:not(.has-magic-focus) .customSelect.customSelectFocus, .form:not(.has-magic-focus) .checkbox-input + label:focus, .form:not(.has-magic-focus) .option-input + label:focus, .form:not(.has-magic-focus) .text-input:focus, .form:not(.has-magic-focus) .textarea:focus, .form:not(.has-magic-focus) .select:focus, .form:not(.has-magic-focus) .customSelect:focus {
    background: #d9d9d9;
}

.form .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background: #00cc00;
    color: white;
    font-weight: bold;
    width: auto;
    margin-top: 2em;
    margin-left: auto;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.form .button:hover, .form .button:focus, .form .button:active {
    color: white;
    border-color: white;
}

.form .button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.form {
    padding: 1.25em;
    max-width: 50em;
    margin: 1em auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
}

.form .field {
    width: 100%;
}

.form .field.half {
    width: calc(50% - 10px);
}

.form .textarea {
    max-width: 100%;
    min-width: 100%;
}

.form .option {
    float: left;
    list-style-type: none;
    overflow: hidden;
}

.centerAlign {
    width: 100%;
    text-align: center;
}

.errorText {
    text-align: center;
    color: #b10000;
    font-size: 1.5em;
    line-height: 1.5em;
}

.successText {
    color: #476223;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

.hidden {
    display: none;
}

/******** freccia per tornare su ( Home )*******/
.to-top {
    font-size: 180%;
    margin-top: 3em;
    color: black;
    padding-top: 1.8em;
    display: block; /* or block */
    position: relative;
    border-color: black;
    text-decoration: none;
    transition: all .3s ease-out;
    text-align: center;
}

.to-top:before {
    content: '▲';
    font-size: .9em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em black;
    border-radius: 10em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-color: inherit;
    transition: transform .5s ease-in;
    text-align: center;
}

.to-top:hover {
    color: #00cc00;
    border-color: #00cc00;
}

.to-top:hover:before {
    transform: rotate(360deg);
}

/* prenotazioni admin */
.elencoPuntato {
    list-style: unset !important;
}

.alignPrenotazioni {
    width: 30%;
}