* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin: auto;
    width: 55%;
}

.imgFull {
    height: 100vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/rifugio2.jpg');
}

#topHeader {
    height: 6em;
    background-color: #0009;
}

#logo {
    width: 9em;
    margin-top: 1em;
}



/************ icone google *************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../images/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../images/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../images/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    color: white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}