* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Hind, sans-serif;
    min-height: 100%;
    position: relative;
}

.container {
    display: block;
    margin: auto;
    width: 65%;
}

#content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/sfondo_foresta.jpg');
    padding-bottom: 15em;
}

.imgFull {
    height: 100vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/rifugio2.jpg');
    position: relative;
}

/**************** header bar logo/contatti *********/
#topHeader {
    background-color: #000000b3;
}

#header-main {
    padding: 0.5em 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#logo {
    height: 5em;
}

#contact-header {
    margin: auto;
    margin-right: 0;
    align-self: center;
}

.firstContactItem {
    margin-right: 1.5em;
}

#contact-header p {
    color: white;
}

#contact-header .material-icons {
    padding-right: 0.1em;
    color: #ffffff;
}

#contact-header .fas {
    padding-right: 0.1em;
    color: #ffffff;
}

/****************** menu ******************************/

#navbar {
    position: static;
    width: 100%;
    z-index: 10;
}

#navbar-content {
    background-color: #ffffff;
    border-bottom: 0.1em solid #000000b3;
}

#menu {
    text-align: center;
}

#menu li {
    display: inline-block;
    margin-left: 3em;
}

#menu li :first-child {
    margin: 0;
}

#menu li a {
    display: block;
    text-align: center;
    padding: 1em 0.5em 1em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

/* mouse over link */
#menu li a:hover {
    color: #00cc00;
    font-weight: bold;
}

/* selected link */
#menu li a:active {
    color: green;
}

.active a {
    cursor: default;
    pointer-events: none;
    font-weight: bold;
    text-decoration: underline #00cc00!important;
}

.active a:hover {
    color: #000000!important;
}

/******************* generic *************************/

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.vertical-align-block {
    display: inline-block;
    vertical-align: middle;
}

hr {
    color: #00cc00;
}

.itemToAlign {
    width: 45%;
    margin: auto;
    margin-right: 0;
    align-self: center;
}

.circle {
    display: inline-block;
    text-align: center;
    width: 12em;
    height: 12em;
    color: black;
    border-radius: 6em;
    border: 0.2em solid #00cc00;
    margin: auto;
}

.circle-text {
    margin-top: 3em;
    font-size: 1.3em;
}

.paragraph {
    font-size: 1.8em;
    border-left: 0.2em solid #00cc00;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
}

.main-padding {
    padding-top: 5em;
    padding-bottom: 5em;
}

.flexible {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/******************* home *************************/

#title-home {
    position: absolute;
    top: 50%;
    width: inherit;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.94);
    font-size: 3em;
    border: 0.01em solid #ffffff;
    background-color: #000000b3;
}

#metri {
    color: #00cc00;
}

#apertura {
    text-align: center;
    background-image: url('../images/sfondo_texture.jpg');
    background-repeat: repeat;
}

#apertura h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
}

#apertura h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    font-weight: normal;
    word-spacing: 0.5em;
}

#descrizione {
    font-size: 1.1em;
}

.description-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-right:auto
    margin-left: 0;
    align-self: center;
    width: 45%;
}

#img-description {
    width: 100%;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

#servizi {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.hr-block {
    display: flex;
    width: 50%;
    margin: auto;
}

.hr-line {
    width: 100%;
    position: relative;
    margin: 1em;
    border-bottom: 0.1em solid #000;
}

.hr-icon {
    position: relative;
    top: 0.2em;
    color: #00cc00;
}

/*************** footer **********************/

#footer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #2a3f4b;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#footer img {
    display: inline-block;
    max-width: 15%;
    height: auto;
}

#footer-text {
    display: inline-block;
    width: 70%;
}

#footer em {
    color: #ffffff;
}

#linkAdmin {
    display: block;
    color: #ffffff;
}