.container {
    width: 85%;
}

.hide-on-med-and-down {
    display: none;
}

#content-description .vertical-align-block {
    display: block;
}

#content-description .flexible {
    display: block;
}

.description-text {
    width: auto;
}

.itemToAlign {
    text-align: center;
    width: 75%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


#servizi {
    display: block;
}

.circle {
    display: block;
    margin-bottom: 1em;
    width: 12em;
    height: 12em;
    border-radius: 6em;
}

.before-footer {
    padding-bottom: 10em !important;
}

.main-padding {
    padding-top: 2em;
    padding-bottom: 2em;
}

.content-half {
    display: block;
    width: 100%;
}

#newAdmin {
    margin-top: 2em;
}


/*eventi*/
.date {
    font-size: 4em;
}

/*itinerari*/
.itinerari img {
    width: 30%;
}

.itinerari li {
    margin-left: 1em;
}

.descrizioneitinerari {
    font-size: 1em;
}
